:root {
  /* Dark Theme Colors */
  --nav-dark-color: #F7374F;
  --primary-dark-color: #88304E;
  --dark-accent: #522546;
  --darker-accent: #2C2C2C;
  --text-dark-color: #FFFFFF;
  
  /* Light Theme Colors */
  --nav-light-color: #fd5165;
  --primary-light-color: #d86189;
  --light-accent: #e475b2;
  --lighter-accent: #a5949b;
  --text-light-color: #212529;

  /* Default to dark theme */
  --nav-color: var(--nav-dark-color);
  --primary-color: var(--primary-dark-color);
  --bg-accent: var(--dark-accent);
  --darker-bg: var(--darker-accent);
  --text-color: var(--text-dark-color);
}

/* Light Theme */
html[data-theme="light"] {
  --nav-color: var(--nav-light-color);
  --primary-color: var(--primary-light-color);
  --bg-accent: var(--light-accent);
  --darker-bg: var(--lighter-accent);
  --text-color: var(--text-light-color);
}

html[data-theme="light"] nav ul li a {
  color: var(--text-light-color);
}

/* Dark Theme */
html[data-theme="dark"] {
  --nav-color: var(--nav-dark-color);
  --primary-color: var(--primary-dark-color);
  --bg-accent: var(--dark-accent);
  --darker-bg: var(--darker-accent);
  --text-color: var(--text-dark-color);
}

html[data-theme="dark"] nav ul li a {
  color: var(--text-dark-color);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


main {
  flex: 1;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    
}

nav ul li a{
    text-decoration: none;
    color: var(--bg-accent);
}


nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--nav-color);
    padding: 5px;
}

nav h1 a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
#currentPage {
    font-size: larger;
    color: white;
    text-decoration: underline;

}

#map {
    height: 750px;
    align-items: center;
    margin: 30px;
    padding: 40px;
    max-width: 100%;
    max-height: 100%;
}

#mapContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 5px;
    
}

#locations {
    overflow-y: scroll;
    height: 62%;
}

#detailsContainer {
    display: flexbox;
}

.list-group-item{
    background-color: var(--bg-accent);
    color: var(--text-color);
}

.list-group:hover{
    background-color: #F7374F;
}

#leafletMap {
    height: 100%;
    width: 100%;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-accent);
    align-items: center;
    border: 2px solid black;
    margin: 0 auto;
    padding: 40px;
    max-width: 400px;
}

#community-hub {
    background-color: #88304E;
    color: white;
}

#cart {
    background-color: #88304E;
    color: white;
}

#purchase {
    background-color: #491a2a;
    justify-self: right;
    color: white;
    float: right;
}

#carouselExampleIndicators {
    background-color: var(--primary-color);
}

#mapContainer {
    background-color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.backImg {
    background-image: url('/images/Background_Image.jpg');
  background-size: cover;      /* scales the image to cover the entire background */
  background-repeat: repeat;
  background-position: center;
  color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--darker-bg);
    color: var(--text-color);
}

footer i {
    padding: 20px;
}

#container {
    background-color: var(--bg-accent);
    color: var(--text-color);
}

#cartPage {
    display: block;
    padding: 40px;
    min-height: 100vh;
    background-color: var(--primary-color);
}